<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">

    <resultMap id="Admin" type="io.laudoak.model.Admin">

        <id column="id" property="id"/>
        <result column="nick" property="nick"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="group_id" property="groupId"/>
        <result column="created_at" property="createdAt"/>
        <result column="pwd" property="pwd"/>
    
    </resultMap>

    <sql id="table">
        `admin`
    </sql>

    <sql id="values">

        #{nick},
        #{pwd},
        #{groupId},
        #{NOW()},
        #{createdAt},
        #{NOW()},
        #{updatedAt},
    
        NOW(),
        NOW()

    </sql>

    <sql id="columns">

        `id`,
        `nick`,
        `pwd`,
        `group_id`,
        `created_at`,
        `updated_at`,
    
        `created_at`,
        `updated_at`

    </sql>

    <sql id="condition">

        WHERE 1=1
        <if test="nick != null">AND `nick`=#{nick}</if>
        <if test="updatedAt != null">AND `updated_at`=#{updatedAt}</if>
        <if test="groupId != null">AND `group_id`=#{groupId}</if>
        <if test="createdAt != null">AND `created_at`=#{createdAt}</if>
        <if test="id != null">AND `id`=#{id}</if>
        <if test="pwd != null">AND `pwd`=#{pwd}</if>
    
    </sql>

    <insert id="insert" parameterType="io.laudoak.model.Admin" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (<include refid="columns"/>)
        VALUES (<include refid="values"/>)
    </insert>

    <delete id="delete" parameterType="io.laudoak.model.Admin">
        DELETE FROM
        <include refid="table"/>
        <include refid="condition"/>
    </delete>

    <select id="selectOne" resultMap="Admin">
        SELECT `id`,
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE `id` = #{id}
        LIMIT 1
    </select>

    <select id="select" resultMap="Admin">
        SELECT * FROM
        <include refid="table"/>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM
        <include refid="table"/>
    </select>

    <update id="update" parameterType="io.laudoak.model.Admin">
        UPDATE
        <include refid="table"/>
        <set>
                <if test="nick != null">`nick`=#{nick},</if>
                <if test="groupId != null">`group_id`=#{groupId},</if>
                <if test="pwd != null">`pwd`=#{pwd},</if>
                `updated_at` = NOW()
        </set>
        WHERE `id`=#{id}
    </update>

</mapper>
