<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Picture">

    <resultMap id="Picture" type="io.laudoak.model.Picture">

        <id column="id" property="id"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="name" property="name"/>
        <result column="created_at" property="createdAt"/>
        <result column="gallery_id" property="galleryId"/>
        <result column="url" property="url"/>
    
    </resultMap>

    <sql id="table">
        `picture`
    </sql>

    <sql id="values">

        #{name},
        #{galleryId},
        #{url},
        #{NOW()},
        #{createdAt},
        #{NOW()},
        #{updatedAt},
    
        NOW(),
        NOW()

    </sql>

    <sql id="columns">

        `id`,
        `name`,
        `gallery_id`,
        `url`,
        `created_at`,
        `updated_at`,
    
        `created_at`,
        `updated_at`

    </sql>

    <sql id="condition">

        WHERE 1=1
        <if test="updatedAt != null">AND `updated_at`=#{updatedAt}</if>
        <if test="name != null">AND `name`=#{name}</if>
        <if test="createdAt != null">AND `created_at`=#{createdAt}</if>
        <if test="galleryId != null">AND `gallery_id`=#{galleryId}</if>
        <if test="id != null">AND `id`=#{id}</if>
        <if test="url != null">AND `url`=#{url}</if>
    
    </sql>

    <insert id="insert" parameterType="io.laudoak.model.Picture" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (<include refid="columns"/>)
        VALUES (<include refid="values"/>)
    </insert>

    <delete id="delete" parameterType="io.laudoak.model.Picture">
        DELETE FROM
        <include refid="table"/>
        <include refid="condition"/>
    </delete>

    <select id="selectOne" resultMap="Picture">
        SELECT `id`,
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE `id` = #{id}
        LIMIT 1
    </select>

    <select id="select" resultMap="Picture">
        SELECT * FROM
        <include refid="table"/>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM
        <include refid="table"/>
    </select>

    <update id="update" parameterType="io.laudoak.model.Picture">
        UPDATE
        <include refid="table"/>
        <set>
                <if test="name != null">`name`=#{name},</if>
                <if test="galleryId != null">`gallery_id`=#{galleryId},</if>
                <if test="url != null">`url`=#{url},</if>
                `updated_at` = NOW()
        </set>
        WHERE `id`=#{id}
    </update>

</mapper>
