<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SensitiveWord">

    <resultMap id="SensitiveWord" type="io.laudoak.model.SensitiveWord">

        <id column="id" property="id"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_at" property="createdAt"/>
        <result column="word" property="word"/>
    
    </resultMap>

    <sql id="table">
        `sensitive_word`
    </sql>

    <sql id="values">

        #{word},
        #{NOW()},
        #{createdAt},
        #{NOW()},
        #{updatedAt},
    
        NOW(),
        NOW()

    </sql>

    <sql id="columns">

        `id`,
        `word`,
        `created_at`,
        `updated_at`,
    
        `created_at`,
        `updated_at`

    </sql>

    <sql id="condition">

        WHERE 1=1
        <if test="updatedAt != null">AND `updated_at`=#{updatedAt}</if>
        <if test="createdAt != null">AND `created_at`=#{createdAt}</if>
        <if test="id != null">AND `id`=#{id}</if>
        <if test="word != null">AND `word`=#{word}</if>
    
    </sql>

    <insert id="insert" parameterType="io.laudoak.model.SensitiveWord" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (<include refid="columns"/>)
        VALUES (<include refid="values"/>)
    </insert>

    <delete id="delete" parameterType="io.laudoak.model.SensitiveWord">
        DELETE FROM
        <include refid="table"/>
        <include refid="condition"/>
    </delete>

    <select id="selectOne" resultMap="SensitiveWord">
        SELECT `id`,
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE `id` = #{id}
        LIMIT 1
    </select>

    <select id="select" resultMap="SensitiveWord">
        SELECT * FROM
        <include refid="table"/>
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM
        <include refid="table"/>
    </select>

    <update id="update" parameterType="io.laudoak.model.SensitiveWord">
        UPDATE
        <include refid="table"/>
        <set>
                <if test="word != null">`word`=#{word},</if>
                `updated_at` = NOW()
        </set>
        WHERE `id`=#{id}
    </update>

</mapper>
